.userBox {
  margin: 5px;
  width: 400px;
  border: 2px solid black;
}

.userBox * {
  margin: 0px;
  padding: 0px;
}

#userInfo {
  justify-content: stretch;
  display: flex;
  align-items: center;
}

.set {
  margin: 10px;
}

.type {
  font-size: 13px;
  font-weight: 600;
}

.warn {
  font-size: 10px;
  color: red;
  font-weight: 600;
}

#box {
  height: 20px;
  width: 100%;
}

.xbox {
  margin-left: auto;
}