.App {
  text-align: left;
  padding: 30px;
}

.buttonBox {
  display: flex;
}

button {
  margin: 5px;
  background-color: white;
  height: 30px;
}

button:active {
  background-color: black;
  color: white;
}